.body {
    background-color: black;
}

.table td {
    border: 1px solid black;
    padding: 8px;
}

.table-container {
    border: 1px solid black;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid blue;
    max-width: 80%;
    border-radius: 4%;
    margin: 0 auto; /* Added to center the form horizontally */
    margin-top: 20vh; /* Adjust the margin-top value to center the form vertically */
  }

.form-segreteria{
    border: 1px solid blue;
            padding: 4%;
            width: 90%;
            border-radius: 3%;
}
@media (max-width: 1000px) {
    .form-segreteria {
        width: 100%;
    }
}