.body {
    background-color: #ccffff;
}

.table td {
    border: 1px solid black;
    padding: 8px;
}

.table-container {
    border: 1px solid black;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid blue;
    max-width: 80%;
    border-radius: 4%;
    margin: 15% auto; /* Added to center the form horizontally */
    margin-top: 20vh; /* Adjust the margin-top value to center the form vertically */

    flex-direction: column;  
}

.form-segreteria{
    border: 1px solid blue;
            padding: 4%;
            width: 90%;
            border-radius: 3%;
}
@media (max-width: 1000px) {
    .form-segreteria {
        width: 100%;
    }
}


.footer {
    background-color: #333;
    color: #fff;
    margin-top: auto;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #333;
    color: #fff;
}

html, body {
    height: 100%;
}